@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

     /* #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue */

body {
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
   
}
h1, h2 {
    font-family: "DM Serif Display", serif;
    color: #184f63;
    }

.sharp-corners, .sharp-corners *{
    border-radius: 0;
}

#hero {
    background-image: url("/assets/images/background.webp");
    background-color: lightgrey;
    background-size: cover;
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;
}
#about {
    background-color: white;
}    
#portfolio {
    background-color: #dbdcde;
}

#portfolio .card-title {
    color: #1f7798;
    font-size: 1.2rem;
    }
#portfolio .btn btn-outline-primary:hover {
        color: #1f7798;
}   
#portfolio .card-text {
    min-height: 120px;
}
#contact {
    background-color: white;
}

@media screen and (min-width: 1200px){
   #portfolio .card-text  {min-height: auto;}
}